body {
#  background-color: white;
}

html {
    # background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  color: #111;
  background-color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.5;
  text-align: left;
  border-style: none none solid none;
  }

p {
  font-family: verdana;
  font-size: 14px;
}

p.ondertitel {
  font-style: italic;
}

input[type=text] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 500px;
  padding: 8px 15px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  font: normal 14px/normal Verdana, Geneva, sans-serif;
  color: rgba(1,13,17,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f8f8f8;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
}

input[type=text]:focus {
  background: rgba(252,249,224,1);
}

textarea {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 500px;
  padding: 8px 15px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  font: normal 14px/normal Verdana, Geneva, sans-serif;
  color: rgba(1,13,17,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f8f8f8;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  resize: vertical;
}

textarea:focus {
  background: rgba(252,249,224,1);
}

label  {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 15px 8px 0px;
  font: normal 14px/normal Verdana, Geneva, sans-serif;
  color: rgba(1,13,17,1);
  font-weight: bold;
  -o-text-overflow: clip;
  text-overflow: clip;
}

input[type=submit],button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 25px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 18px/normal Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: rgba(1,13,17,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: lightblue;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.19);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

input[type=submit]:hover,button:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24),0 6px 10px 0 rgba(0,0,0,0.19);
}
