* {
  box-sizing: border-box; /* Ensure all elements include border and padding in their dimensions */
}

html {height:100%; background-color: #FFFFFF;}

body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.container {
  /*overflow: hidden;*/
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}

#topmenu {
  height: 40px;
  width:100%; 
  background-color: #F1F3F4;
  align-items: center;
  padding: 0px 7px 0px 7px;
  border-bottom: 1px solid #CCC;
}

#app {
  flex: 1; /* Take up the remaining space */
  overflow: hidden; /* Ensure no scrollbars appear within the app */
}

#configsection {
  position: absolute;
  top: 40px; /* Start 40px from the top */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Add scrollbars if content overflows */
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 12px 8px 8px 8px; /* Padding to create the empty border effect */
}

/*#app * {
  margin: 2px;
  padding: 2px;
}*/

#ribbon {
  position: absolute;
  top: 40px; /* Start 40px from the top */
  height: 30px;
  left: 0px;
  right: 0px;
  bottom: 0;
  padding: 0px 12px 0px 12px; 
  background-color: #ffffff; /* Optional: Background color for visibility */
}

#canvas_2col {
  display: flex;
  position: absolute;
  top: 70px; 
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; 
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 0x; /* Padding to create the empty border effect */
  display: flex;
  flex-direction: row; /* Ensure columns are side by side */
}

#left_col {
  flex: 0.45;
  overflow: auto;
}

#right_col {
  flex: 0.55;
  overflow: auto;
}

/* --- CODE FOR THE MENU --- */

ul#minitabs {
  display: flex;
  height: 100%;
  /*height: 40px;*/
  list-style: none;
  margin: 0;
  padding: 1px 0; /* 7px */
  /*border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;*/
  font-weight: bold;
  text-align: left;
  align-items: center;
  white-space: nowrap;
}
ul#minitabs li {
  display: inline;
  margin: 0 6px;
}
ul#minitabs a {
  text-decoration: none;
  padding: 0 0 3px;
  border-bottom: 4px solid #F0F0F0;
  color: #555565
}
ul#minitabs a#current {
  border-color: #F60;
  color:#06F
}
ul#minitabs a:hover {
  border-color: #F60;
  color: #333
}

table.html_edit_table {
  width: "100%";
}

table.html_edit_table td:nth-child(1) {
  //border-left: 5px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
  //background-color: #8AB2E4;
  border-collapse: collapse;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 150%;
  text-align: center;
  cursor: pointer;
}

table.html_edit_table td:nth-child(2) {
  //background-color: #E0E0E0;
  width: "100%";
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#config {
  padding-left: 7px;
  padding-right: 7px;
  min-width:100%;
  min-height:0px;
}






#left_col_inner {padding:10px; color:#000000}

#right_col_inner {padding:10px; color:#000000;}










#AJAX_sent {padding:0px; color:#000000;}
#AJAX_received {padding:0px; color:#000000;}
#AJAX_draw {padding:0px; color:#000000;}

.onlypointer {
  cursor: pointer;
}

p {font-size:16px; line-height:24px;}

div.kring {
  background-color: #FFCC99;
}

div.verbruiker {
  background-color: #FFFFCC;
}

table {
    border-collapse: collapse;
}
