/* ROOT */

:root {
  --selectPadding: 2;
  --paperPadding: 10px;

  --menu-height: 40px; 
  --ribbon-height: 68px; 
  --status-bar-height: 0px; 

  --sideBarWidth: 0px; /* Can be overwritte in propstyles */

  --total-offset: calc(var(--menu-height) + var(--ribbon-height) + var(--status-bar-height));

  --EDStekenFoutKleur: #8C5A00; /* Very dark amber */
}

/* DOCUMENT */

* {
  box-sizing: border-box; /* Ensure all elements include border and padding in their dimensions */
}

html {height:100%; background-color: #FFFFFF;}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

/* SPINNER STUFF */

.spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading .spinner {
    display: block;
}

button, select, select option, input[type="checkbox"] {
  cursor: pointer;
}

select option {
  background-color: #f7f7f7;
}

td[contenteditable="true"] { 
  cursor: text; /* Set the cursor to text edit pointer */ 
}

/* CONTAINER */

.container {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}

/* MENU */

#topmenu {
  height: var(--menu-height);
  width: 100%; 
  background-color: #e8e8e8;
  align-items: center;
  padding: 0px 7px 0px 7px;
  border-bottom: 1px solid #b8b8b8;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
}
ul#minitabs {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 1px 0; /* 7px */
  font-weight: bold;
  text-align: left;
  align-items: center;
  white-space: nowrap;
}
ul#minitabs li {
  display: inline;
  margin: 0 6px;
}
ul#minitabs li.menu-item { 
  display: inline; margin: 
  0 6px; 
}
ul#minitabs a {
  text-decoration: none;
  padding: 0 0 3px;
  border-bottom: 4px solid #e8e8e8; 
  color: #555565
}
ul#minitabs a#current {
  border-color: #F60;
  color:#06F
}
ul#minitabs a:hover {
  border-color: #F60;
  color: #333;
  cursor: pointer
}

/* RIBBON */

#ribbon {
  position: absolute;
  top: var(--menu-height);
  height: var(--ribbon-height);
  left: 0px;
  right: 0px;
  bottom: 0;
  justify-content: space-between;
  /*padding: 0px 12px 0px 12px;*/ 
  display: flex;
  background-color: #f8f8f8;
  align-items: center;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border-bottom: 1px solid #c8c8c8; 
  flex-direction: row;
}

#left-icons {
  top: var(--menu-height);
  height: var(--ribbon-height);
  left: 0px;
  right: 0px;
  bottom: 0;
  justify-content: left;
  /*padding: 0px 12px 0px 12px;*/ 
  display: flex;
  background-color: #f8f8f8;
  align-items: center;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border-bottom: 1px solid #c8c8c8; 
  flex-direction: row;
}

#right-icons {
  top: var(--menu-height);
  height: var(--ribbon-height);
  left: 0px;
  right: 0px;
  bottom: 0;
  justify-content: right;
  /*padding: 0px 12px 0px 12px;*/ 
  display: flex;
  background-color: #f8f8f8;
  align-items: center;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border-bottom: 1px solid #c8c8c8; 
  flex-direction: row;
}

.icon {
  /*width: 50px;*/
  margin: 0 0 0 10px;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  padding: 4px;
  /*transition: background-color 0.3s;*/
}

.icon:hover { 
  background-color: #ccc;
}

.icon-image {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
}

.icon-text {
  display: inline-block;
  font-size: 12px;
  margin-top: 4px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.icon-button {
  height: 50px;
  margin: 0 0 0 5px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}

.box {
  position: absolute;
  background-color: rgba(192, 192, 192, 0);
  border: 0px solid #000;
  cursor: pointer;
  box-sizing: border-box; /* Include border in size calculation */
  transform: rotate(0deg);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.box[movable="false"] {
  cursor: default;
}

.boxlabel {
  position: absolute;
  font-size: 11px;
  background-color: rgba(192, 192, 192, 0);
  border: 0px solid #000;
  cursor: pointer;
  box-sizing: border-box; /* Include border in size calculation */
  transform: rotate(0deg);
  display: inline-block;
  white-space: nowrap;
  /* pointer-events: none; */ /* This allows clicks to pass through */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.boxlabel[movable="false"] {
  cursor: default;
}

.boxlabel.hidden { display: none; }

.box.selected[movable="false"] {
  border: calc(var(--selectPadding) * 1px) solid red;
}

.box.selected {
  border: calc(var(--selectPadding) * 1px) solid green;
}

.box.hidden { display: none; }

/* APP */

#app {
  flex: 1; /* Take up the remaining space */
  overflow: hidden; /* Ensure no scrollbars appear within the app */
}

#configsection {
  position: absolute;
  top: var(--menu-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Add scrollbars if content overflows */
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 12px 8px 8px 8px; /* Padding to create the empty border effect */
}

#canvas_2col {
  display: flex;
  position: absolute;
  top: calc(var(--menu-height) + var(--ribbon-height)); 
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; 
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 0x; /* Padding to create the empty border effect */
  display: flex;
  flex-direction: row; /* Ensure columns are side by side */
}

#outerdiv {
  display: flex;
  position: absolute;
  top: calc(var(--menu-height) + var(--ribbon-height)); 
  left: 0;
  right: 0;
  bottom: 0;
  overflow: none; 
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 0; /* Padding to create the empty border effect */
  flex-direction: row; /* Ensure columns are side by side */
}

#sidebar {
  top: 0;
  left: 0;
  width: var(--sideBarWidth); /* Useful drawing area on A4 */
  height: 100%;
}

#canvas {
  display: flex;
  position: absolute;
  top: 0; 
  left: var(--sideBarWidth);
  right: 0;
  bottom: 0;
  overflow: auto; /* Add scrollbars if content overflows */
  background-color: #ffffff; /* Optional: Background color for visibility */
  padding: 0; /* Padding to create the empty border effect */
  flex-direction: row; /* Ensure columns are side by side */
}

#paper {
  top: var(--paperPadding);
  left: var(--paperPadding);
  width: 277mm; /* Useful drawing area on A4 */
  height: 150mm; /* Useful drawing area on A4 */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  position: absolute;
}

#left_col {
  flex: 0.45;
  overflow: auto;
}

#right_col {
  flex: 0.55;
  overflow: auto;
}

#left_col_inner {padding:10px; color:#000000}

#right_col_inner {padding:10px; color:#000000;}

/* TABLE */

table.html_edit_table {
  width: "100%";
}

table.html_edit_table td:nth-child(1) {
  /*border-left: 5px solid #1C6EA4;*/
  border-radius: 10px 10px 10px 10px;
  /*background-color: #8AB2E4;*/
  border-collapse: collapse;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 150%;
  text-align: center;
  cursor: pointer;
}

table.html_edit_table td:nth-child(2) {
  /*background-color: #E0E0E0;*/
  width: "100%";
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* OTHER */

#config {
  padding-left: 7px;
  padding-right: 7px;
  min-width:100%;
  min-height:0px;
}

#AJAX_sent {padding:0px; color:#000000;}
#AJAX_received {padding:0px; color:#000000;}
#AJAX_draw {padding:0px; color:#000000;}

.onlypointer {
  cursor: pointer;
}

p {font-size:16px; line-height:16px}

div.kring {
  background-color: #FFCC99;
}

div.verbruiker {
  background-color: #FFFFCC;
}

table {
    border-collapse: collapse;
}

.highlight-warning {
  background-color: #FFD1D1; /* Light red/pink background */
  border: 1px solid #FF6347;
  padding: 4px 5px 4px 5px;  
  font-weight: normal;
  font-size: smaller;
  color: #B22222; /* Firebrick red for text */
}

.highlight-warning-big {
  background-color: #FFD1D1; /* Light red/pink background */
  border: 1px solid #FF6347; /* Tomato red border to mimic marker */
  padding: 4px 5px 4px 5px;
  font-weight: normal;
  font-size: smaller;
  color: #B22222; /* Firebrick red for text */
}

.highlight-ok-big {
  background-color: #CCFFCC; /* Light green background */
  border: 1px solid #33CC33; /* Medium green border to mimic marker */
  padding: 4px 5px 4px 5px;
  font-weight: normal;
  font-size: smaller;
  color: #006600; /* Dark green for text */
}

.EDS-tekenfout {
  background-color: #FFF9E5; /* Very light yellowish grey */
  border: 1px solid #E6C97A; /* Somewhat darker yellowish grey */
  padding: 4px 5px 4px 5px;  
  font-weight: normal;
  font-size: smaller;
  color: var(--EDStekenFoutKleur); /* Darker shade of amber */
  margin-top: 5px; 
  margin-bottom: 5px; 
  cursor: default;
}

.svg-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Allow clicks to pass through the SVG */
}

.context-menu {
  position: absolute;
  display: none;
  border: 1px solid #aaa;
  background-color: #f0f0f0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 999999999; /* Try to always be on top */
  font-size: 12px;
  line-height: 1.0;
}

.context-menu-item {
  padding: 4px 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.context-menu-item:hover {
  background-color: #e0e0e0;
}

.context-menu-shortcut {
  margin-left: 16px;
  color: #888;
}

.context-menu-separator {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2px 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
}

.popup h3 {
  color: #06F;
}

.rounded-button {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #3399FF; /* Lighter blue hue */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  display: block;
  width: 100px; /* Wider button */
  transition: background-color 0.3s ease-in-out;
}

.rounded-button:hover {
  background-color: #06F; /* Darker blue on hover */
}

